<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="card-title ">Mesures</h4>
                                <p class="card-category"> </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table ">
                                <thead class="">
                                    <th class="info">Measure Id</th>
                                    <th class="info">Type</th>
                                    <th class="info">Temperature</th>
                                    <th class="info">Humidity</th>
                                    <th class="info">Packages Id</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let asset of allAssets">
                                        <td class="asset-properties">{{asset.measureId}}</td>
                                        <td class="asset-properties">{{asset.type}}</td>
                                        <td class="asset-properties">{{asset.temperature}}</td>
                                        <td class="asset-properties">{{asset.humidity}}</td>
                                        <td class="asset-properties"><div  *ngFor="let pack of asset.packages">{{pack.packageId}}</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>